<h1>Tu Carrito</h1>

<ul>
  {{#each cartItems}}
    <li>
      Producto: {{this.name}} <br>
      Precio: {{this.price}} <br>
      Cantidad: {{this.quantity}}
    </li>
  {{/each}}
</ul>

<h2>Total: {{totalAmount}}</h2>
