<div class="container mt-5">
  <h1 class="text-center">Hola, {{name}}</h1>

  <p class="fs-4 text-center">
    Tu correo es <strong>{{email}}</strong> y tienes <strong>${{money}}</strong> en tu billetera digital.
  </p>
</div>