<div class="container mt-5">
  <div class="alert alert-warning text-center" role="alert">
    <p>No tienes autorización para entrar a esta vista. Por favor, <a href="/login" class="alert-link">identifícate</a>
      o verifica tus credenciales.</p>
  </div>
</div>