WALLET.HANDLEBARS
<!-- views/wallet.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Wallet</title>
</head>
<body>
    <h1>Saldo de Wallet</h1>
    <p>Tu saldo actual es: {{walletBalance}}</p>
    <a href="/">Volver al inicio</a>
</body>
</html>
